.c-global-clickEffect {
	opacity: 0;
	position: fixed;
	pointer-events: none;
	animation-name: c_global_clickEffect;
	animation-duration: 1.5s;
	z-index: 1000;
}

@keyframes c_global_clickEffect {
	to {
		opacity: 1;
		transform: scale(1.5);
	}
}
