.c-page-dots-fileDragAndDrop {
	display: flex;
	position: relative;
	border: 1px solid black;
	overflow: hidden;

	& > input {
		display: none;
	}

	& > label {
		width: 100%;
		height: 100%;
		& > div {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			text-align: center;
			transform: rotateX(180deg);
			font-size: 10vw;
			padding: 10vw;
			@include lt-md {
				padding: 35vw;
			}
		}
	}

	.c-page-dots-fileDragAndDrop-dragging {
		& > div {
			@keyframes c_page_dots_fileDragAndDrop_dragging {
				0%,
				100% {
					transform: translateY(-10px) rotateX(180deg);
				}
				50% {
					transform: translateY(10px) rotateX(180deg);
				}
			}

			animation-name: c_page_dots_fileDragAndDrop_dragging;
			animation-iteration-count: infinite;
			animation-duration: 2s;
			animation-timing-function: ease-in-out;
		}
	}
}
