html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.background::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: radial-gradient(ellipse at top, grey, #00000050 50%),
    radial-gradient(ellipse at bottom, grey, black 50%);
  opacity: 0.6;
}

header {
  margin-top: 5vh;
}

header > nav > ul {
  list-style: none;
  padding: 0px;
  display: flex;
}

header > nav > ul > li:not(:last-child) {
  margin-right: 40px;
}

header > nav > ul > li > a {
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  header > nav > ul > li:not(:last-child) {
    margin-right: 15px;
  }
  header > nav > ul > li > a {
    font-size: 1rem;
  }
}

main {
  color: white;
  margin-top: 10vh;
  flex-grow: 1;
}

main > img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 15rem;
}

main > span {
  display: block;
}

main > span:first-of-type {
  font-size: 3rem;
}
main > span:nth-of-type(2) {
  font-size: 1.7rem;
  margin-bottom: 30px;
}

main > span:nth-of-type(2) ~ span {
  font-size: 1.3rem;
}

@media screen and (max-width: 767px) {
  main {
    margin-top: 7vh;
  }
  main > img {
    width: 10rem;
    height: 10rem;
  }
  main > span:first-of-type {
    font-size: 2rem;
  }
  main > span:nth-of-type(2) {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  main > span:nth-of-type(2) ~ span {
    font-size: 1rem;
  }
}
