@mixin bg-op($color, $opacity) {
	&::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $color;
		opacity: $opacity;
		top: 0;
		left: 0;
		pointer-events: none;
	}
}

// 0~575 px
@mixin lt-sm {
	@media (min-width: map-get($grid-breakpoints, xs)) and (max-width: #{map-get($grid-breakpoints, sm) - 1px}) {
		@content;
	}
}

// 0~767 px
@mixin lt-md {
	@media (min-width: map-get($grid-breakpoints, xs)) and (max-width: #{map-get($grid-breakpoints, md) - 1px}) {
		@content;
	}
}

// 768~ px
@mixin gt-md {
	@media all and (min-width: map-get($grid-breakpoints, md)) {
		@content;
	}
}
