$utilities: () !default;
$utilities: map-merge(
	(
		'opacity': (
			responsive: true,
			property: opacity,
			class: op,
			values: $opacities,
		),
		// overide
		'position':
			(
				responsive: true,
				property: position,
				values: static relative absolute fixed sticky,
			),
		'xr': (
			responsive: true,
			property: right,
			class: xr,
			values: $pixel-value,
		),
		'xl': (
			responsive: true,
			property: left,
			class: xl,
			values: $pixel-value,
		),
		'yt': (
			responsive: true,
			property: top,
			class: yt,
			values: $pixel-value,
		),
		'yb': (
			responsive: true,
			property: bottom,
			class: yb,
			values: $pixel-value,
		),
		// overide
		'visibility':
			(
				responsive: true,
				property: visibility,
				class: v,
				values: (
					visible: visible,
					invisible: hidden,
				),
			),
		'extra-font-size': (
			responsive: true,
			property: font-size,
			class: efs,
			values: (
				1: 10px,
				2: 12px,
				3: 14px,
				4: 16px,
				5: 20px,
				6: 25px,
				7: 30px,
				8: 35px,
				9: 40px,
				10: 50px,
			),
		),
		'z-index': (
			responsive: true,
			property: z-index,
			class: z,
			values: (
				-1: -1,
				0: 0,
				999: 999,
			),
		),
	),
	$utilities
);
