$opacities: (
	0: 0.04,
	1: 0.15,
	2: 0.3,
	3: 0.45,
	4: 0.6,
	5: 0.75,
	6: none,
);

// overide
// todo-check : map-merge가 안됨
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 4.5,
	7: $spacer * 6,
	8: $spacer * 7.5,
	9: $spacer * 10,
);

$pixel-value: (
	1: 10px,
	2: 12px,
	3: 14px,
	4: 16px,
	5: 20px,
	6: 25px,
	7: 30px,
	8: 35px,
	9: 40px,
	10: 50px,
	200: 200px,
	250: 250px,
);
