@import 'variables';
@import 'mixin';
@import 'utilities';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

* {
	// 드래그 방지
	user-select: none;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	padding: 0px;
	list-style: none;
}

@each $cs, $cv in $colors {
	@each $os, $ov in $opacities {
		.bg-op-#{$cs}-#{$os} {
			@include bg-op($cv, $ov);
		}
	}
}

// HeaderNavBar
.navBarToggle-lt-md {
	// 0~767 px
	@include lt-md {
		// todo-check : animation과 transition을 같이 쓸 수 있는가?
		@keyframes navBarToggle {
			from {
				top: 25px;
				opacity: 0.2;
			}
			to {
				top: 42px;
				opacity: 1;
			}
		}
		visibility: visible !important;
		background-color: rgb(255, 255, 255);
		border: 1px solid rgb(128, 128, 128, 0.3);
		border-radius: 4px;
		font-weight: bold;
		font-size: 15px !important;
		animation-name: navBarToggle;
		animation-duration: 1s;
		top: 42px;

		li {
			&:not(&:last-child) {
				border-bottom: 1px solid rgb(128, 128, 128, 0.3);
			}
			& > * {
				border-bottom: 1px solid rgb(128, 128, 128, 0.3);
			}
		}
	}
}

.footer {
	min-height: 75px;
	background-color: #815f85;
}

.fixedTopButton {
	@keyframes fixedTopButton {
		60% {
			transform: scale(1.3, 0.6);
		}
		80% {
			transform: scale(0.8, 1.2);
		}
		to {
			transform: scale(1);
		}
	}

	@keyframes fixedTopButtonRocket {
		50% {
			transform: none;
		}
		to {
			transform: translateY(-100px) rotateY(1turn);
			color: rgb(240, 140, 140, 0.3);
		}
	}
	position: fixed;
	bottom: 20px;
	right: 20px;
	&:hover {
		> * {
			transform: rotateY(1turn);
			transition: transform 1s linear;
		}
	}
	&:focus {
		animation-name: fixedTopButton;
		animation-duration: 0.5s;

		> * {
			animation-name: fixedTopButtonRocket;
			animation-duration: 0.6s;
		}
	}
}

.clickEffect {
	@keyframes clickEffect {
		to {
			visibility: visible;
			opacity: 1;
			transform: scale(1.5);
		}
	}
	visibility: hidden;
	opacity: 0;
	position: fixed;
	pointer-events: none;
	animation-name: clickEffect;
	animation-duration: 1.5s;
}

.pageCard {
	max-height: 260px;
	& > div > div:first-child {
		border-right: 1px solid rgba(0, 0, 0, 0.125);
	}
	img {
		max-height: 258px;
		&:hover {
			transform: scale(1.4);
			transition: transform 1s ease-in-out;
		}
	}
	// 0~767 px
	@include lt-md {
		max-height: 200px;
		img {
			max-height: 198px;
		}
	}
}

.infoBox {
	height: 100px;
}

.divisionLine {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	filter: drop-shadow(0px 1px 2px black);
}
